<div class="login">
  <img [src]="imageAngular" alt="" width="85px" height="80px">
  <br><br>
  <input type="text" name="email" id="" placeholder="Email address"><br>
  <label for="email">Email</label><br><br>
  <input type="text" name="password" id="" placeholder="Password"><br>
  <label for="password">Password</label><br>
  

  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="#!">Register</a></p>

  </div>
</div>


